/* this is some magical font-importing.
you'll learn about it later. */
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body {
  margin: 0;
  font-family: roboto, sans-serif;
}

.header,.hero,.info,.quote,.action,.footer {
  padding-left: 200px;
  padding-right: 200px;
}

.header,.hero,.footer {
  background: #1F2937;
}

.header_logo, .hero_main, .hero_image {
  color: #F9FAF8;
}

.hero_secondary,.info_text,.header_links a,.action_text_body {
  font-size: 16px;
  color: lightgray;
  text-decoration: none;
  /* padding: 8px; */
}

.button,.action_box {
  background: #3882F6;
  border-radius: 8px;
}

.header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
}

.header_logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: bold;
}

.header_links {
  display: flex;
  align-content: center;
  justify-content: space-between;
  gap: 16px;
}

.header_links a {
  align-self: center;
}

.hero{
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
  gap: 20px;
}

.hero_left{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 20px;
}

.hero_main {
  font-weight: bolder;
  font-size: 48px;
}

/* .hero_secondary{

} */

.button{
  color: white;
  width: 100px;
  padding: 6px 0px;
  text-align: center;
}

.hero_image{
  background: gray;
  text-align: center;
  width: 900px;
}

.info {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 25px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.info_header {
  color: #1F2937;
  font-size: 36px;
  font-weight: bolder;
  padding: 8px;
  text-align: center;
}

.info_tiles {
  display: flex;
  align-content: flex-start;
  justify-content: space-around;
  gap: 8px;
}

.info_tile {
  width: 150px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}

.info_box {
  border: 2px solid #3882F6;
  border-radius: 8px;
  height: 150px;
}

.info_text {
  text-align: center;
}

.quote {
  background: #E5E7EB;
  color: #1F2937;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 100px;
}

.quote_text {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  width: 600px;
  margin: auto;
}

.quote_author {
  font-weight: bold;
  font-size: 18px;
  text-align: end;
  width: 600px;
}

.action {
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}

.action_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
}

/* .action_text { 

} */

.action_text_title {
  font-size: 24px;
  margin-bottom: 0px;
}

.action_text_body {
  margin-top: 0px;
}

.footer {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  color: lightgray;
}